{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}

  <br />
  <h1 align="center">Locker List</h1>
  <br />
  <h3 align="center">Please select an available locker</h3>
  <br />
  <div id="parent-div" style="width: device; height: 100px;">
    <a href="http://172.20.10.5/">
    <button style="width: 100%; height: 80%; background-color: rgb(2, 205, 2); border-color: white" type="submit" class="btn btn-primary">Locker#1</button>
    </a>
  </div>
  <br />
  <a href="locker2">
  <div id="parent-div" style="width: device; height: 100px;">
    <button  style="width: 100%; height: 80%; background-color: rgb(255, 0, 0); border-color: white" type="submit" class="btn btn-primary">Locker#2</button>
  </a>
  </div>
  <br />
  <a href="locker3">
  <div id="parent-div" style="width: device; height: 100px;">
    <button style="width: 100%; height: 80%; background-color: rgb(88, 88, 88); border-color: white" type="submit" class="btn btn-primary">Locker#3</button>
  </a>
  </div>
  <br />
  <a href="locker4">
  <div id="parent-div" style="width: device; height: 100px;">
    <button style="width: 100%; height: 80%;" type="submit" class="btn btn-primary">Locker#4</button>
  </a>
  </div>
  {% endblock %}
