{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Self Automated Touchless Locker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='animation.css')}}"> -->
</head>
<body>
    <section class="header">

        <div class="text-box">
            <h5>Self Automated Touchless Locker</h5>
            <p><br><br><br><br><br><br>Have you ever needed to use a locker after someone, but you were worried about where their hands have been? <br> 
                Well now with our locker technology you won't have to worry.</p>
            {% if user.is_authenticated %}
            <a href="/" class="hero-btn">Try a locker now</a>
            {% else %}
            <a href="sign-up" class="hero-btn">Try a locker now</a>
            {% endif %}
        </div>

    </section>

<!-- Under Text-->
<section class ="Lockers">
    <h5>Team Degens</h5>
    <br><br><br>
    <br>
    <div class="row">
        <div class="Lockers-col">
            <h3>Who we are</h3>
            <p>
                We are Team Degens, we are a group of five senior students at California State University, Sacramento. Our group is comprised of four Computer Engineering students
                and one Electrical Engineering student. Through our combined efforts we are aiming to create a project that can help benefit the health of others.
            </p>
        </div>
        <div class="Lockers-col">
            <h3>What our technology does</h3>
            <p>
                For our technology we are using a website hosted locker control system. This control system is capable of allowing a user
                to open and close the locker without physical contact. It has a built in dead-bolt lock preventing thieves. Also, a role system that prevents others
                from taking your assigned locker as well.
                <br> <br>
                In order to kill bacteria we will be implementing a UV light to clean the locker after a user has unregistered themselves.
            </p>
        </div>
        <div class="Lockers-col">
            <h3>Our Goal</h3>
            <p>
                Our team is creating a locker that can be used without needing physical contact. 
                With our technology we are aiming to minimize the spread of bacteria in public areas. 
                Also, to allow those who are physically inable to have access to a locker as well.            </p>
        </div>
    </div>
</section>

<!-- Javascript -->
<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>
</body>
</html>
{% endblock %}